.top-section {
  background-color: #f3c6bd;
}
@media (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media (min-width: 1400px) {
  .header {
    background-color: #f3c6bd;
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
  }
}
.header__button {
  display: none;
}
@media (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  display: inline-block;
}
.header .logo__description {
  display: none;
}
@media (min-width: 1400px) {
  .header .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
  }
}

.navigation {
  display: none;
}
@media (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-left: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
}

.logo {
  display: flex;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action-button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}
@media (max-width: 1399px) {
  .action-button {
    width: 100%;
  }
}

.learn-more-btn {
  background-color: #fff;
  color: #3040c4;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  margin-top: 15px;
}
@media (max-width: 1399px) {
  .learn-more-btn {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}

@media (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

.footer {
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.footer__description {
  display: none;
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
  width: 360px;
}
@media (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin-top: 40px;
}
@media (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
@media (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.about-company {
  margin-top: 44px;
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    height: 338px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
  }
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1400px) {
  .downloads {
    justify-content: left;
    margin: 0;
    margin-top: 25px;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .additional-navigation {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}
.nav-links__list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  list-style-type: none;
  margin-top: 18px;
}

.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .footer-links {
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    height: 50px;
  }
}

.terms {
  line-height: 50px;
  font-size: 14px;
}
.terms__item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-bottom: 17px;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.logo-vertical__text {
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.headline {
  width: 100%;
}
@media (min-width: 1400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
    margin: 0;
  }
}
.headline__description {
  margin-top: 24px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
}
@media (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
    margin-bottom: 0;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}

.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #f4f5f7;
}
@media (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

.article:last-child {
  margin-top: 20px;
}
@media (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 6px;
}
@media (min-width: 1400px) {
  .article {
    width: 555px;
  }
}

.customers {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .customers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 106px;
    width: 1140px;
    margin: auto;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  height: 94px;
  width: 105px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.customers__item:last-child {
  border-right: none;
}
@media (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  filter: brightness(0);
}
@media (max-width: 1399px) {
  .customers__logo {
    max-width: 80%;
  }
}

/*.features {
  width: 1140px;
  margin: auto;
  display: flex;
}

.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: $text-color-green;
}

.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}

.features__description {
} */
.audience {
  background-color: rgba(0, 161, 198, 0.0666666667);
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1400px) {
  .audience {
    width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}
.audience__title {
  margin: 0;
  padding-top: 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}
@media (min-width: 1400px) {
  .audience__title {
    padding-top: 108px;
  }
}
.audience__big-title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
@media (min-width: 1400px) {
  .audience__big-title {
    margin-top: 24px;
    width: 555px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
  }
}
.audience__description-text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
@media (min-width: 1400px) {
  .audience__description-text {
    margin-top: 30px;
    width: 555px;
    font-size: 22px;
    line-height: 28px;
  }
}
.audience__button-wrapper {
  margin-top: 30px;
  margin-bottom: 40px;
}
@media (min-width: 1400px) {
  .audience__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 34px;
    margin-bottom: 111px;
  }
}
.audience__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1400px) {
  .audience__cards {
    width: 1140px;
    flex-direction: row;
    margin-bottom: 110px;
  }
}
.audience__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  min-width: 290px;
  height: 300px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.audience__card:hover {
  background-color: #3142c6;
  color: #fff;
}
.audience__card:first-child {
  margin-top: 0;
}
.audience__card:last-child {
  margin-bottom: 50px;
}
@media (min-width: 1400px) {
  .audience__card {
    min-width: 262px;
    margin: 0;
    margin-right: 30px;
  }
  .audience__card:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}
.audience__button {
  color: #000000;
}

.order {
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 0.0666666667);
}
@media (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  max-width: 200px;
}
@media (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
    max-height: 296px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  margin-top: 40px;
}
@media (max-width: 1399px) {
  .order__title {
    text-align: center;
  }
}
.order__text {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  margin-top: 18px;
}
@media (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  height: 48px;
  width: 100%;
}
.order__email::placeholder {
  color: #2b292d;
}
@media (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__button {
  margin-top: 12px;
}
@media (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: #3142c6;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media (min-width: 1400px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
