.customers {
  display: flex;
  flex-direction: column;
}

.customers__item {
  height: 94px;
  width: 105px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers__item:last-child {
  border-right: none;
}

.customers__logo {
  filter: brightness(0);
}

.customers__row {
  display: flex;
}

@media screen and (min-width: 400px) {
  .customers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 106px;
    width: 1140px;
    margin: auto;
    flex-direction: row;
  }

  .customers__row {
    flex: 1;
    justify-content: space-around;
  }

  .customers__item {
    border: none;
  }
}

@media screen and (max-width: 399px) {
  .customers__logo {
    max-width: 80%;
  }
}
