.order {
  padding: 50px 15px;
  background-color: $color-light;

  @include for-large-up {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__details {
    max-width: 555px;
  }

  &__illustration {
    max-width: 200px;

    @include for-large-up {
      max-width: 269px;
      margin-right: 121px;
      max-height: 296px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-top: 40px;

    @include for-large-down {
      text-align: center;
    }
  }

  &__text {
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    margin-top: 18px;
  }

  &__form {
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }

  &__email {
    margin-top: 40px;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    background: $color-white;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    height: 48px;
    width: 100%;

    &::placeholder {
      color: $text-primary-color;
    }

    @include for-large-up {
      margin-top: 0;
    }
  }

  &__button {
    margin-top: 12px;

    @include for-large-down {
      width: 100%;
    }

    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }

  &__terms {
    font-size: 14px;
    line-height: 22px;
    color: $text-secondary-color;
  }

  &__terms-link {
    color: $color-blue;
  }
}
